body {
	background: #e6e6e6;
	color: #505050;
	font-family: 'Roboto', Arial, sans-serif;
}
.header {
	padding: 20px 0 30px;
	background: #00b2e4;
	margin-bottom: 60px;
	color: #fff;
	text-shadow: 2px 2px 1px #999;
}
.header small {
	color: #fff;
	font-weight: 100;
	margin-left: 30px;
}

.well {
	background: #fff;
	border: 0;
	-moz-box-shadow: 0px 2px 5px #bbb;
	-webkit-box-shadow: 0px 2px 5px #bbb;
	box-shadow: 0px 2px 5px #bbb;
	min-height: 108px;
}
.well .text-primary {
	color: #00b2e4;
}
.panel {
	border: 0;
	-moz-box-shadow: 0px 2px 5px #bbb;
	-webkit-box-shadow: 0px 2px 5px #bbb;
	box-shadow: 0px 2px 5px #bbb;
	min-height: 400px;
}
.panel-footer {
	border-bottom: 1px solid #ddd;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.panel h2 {
	margin-top: 10px;
	color: #505050;
	font-size: 18px;
}
.chosen-container {
	width: 49%!important;
}